<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- header tags -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Spartans Custom</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="shortcut icon" href="~/images/favicon.ico">

        <!-- Styles render -->
        @RenderSection("styles", required: false)
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <!-- INSERCIÓN DEL HEADER -->
        @Html.Partial("_Header")
        <div class="wrapper">
            <!-- INSERCIÓN DEL BODY -->
            @RenderBody()
        </div>
        <!-- INSERCIÓN DEL FOOTER -->
        @Html.Partial("_Footer")
        <!-- Scripts render -->
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @*<script src="~/Scripts/app.js"></script>*@
    </body>
</html>