<!DOCTYPE html>
<html lang="en">
<head>
    <!-- header tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Spartans Custom</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="icon" href="~/images/App_Icons/png_spartan_helmet_icon3.ico" type="image/gif" sizes="128x128">

    <!-- Styles render -->
    @RenderSection("styles", required: false)
    <!-- DataTables -->
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Select 2-->
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <!--Estilos del Datepicker -->
    <link href="~/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />


    <!--Estilo de alertas intuitivas-->
    <link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- Responsive datatable examples -->
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
    <body>
        <!-- INSERCIÓN DEL HEADER -->
        @Html.Partial("_Header")
        <div class="wrapper">
            <!-- INSERCIÓN DEL BODY -->
            @RenderBody()
        </div>
        <!-- INSERCIÓN DEL FOOTER -->
        @Html.Partial("_Footer")
        <!-- Scripts render -->
        @Scripts.Render("~/bundles/jquery")
        <!-- Required datatable js -->
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Buttons examples -->
        <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables/jszip.min.js"></script>
        <script src="~/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/plugins/datatables/buttons.colVis.min.js"></script>

        <!--Select 2-->
        <script src="~/plugins/select2/js/select2.min.js"></script>

        <!-- Responsive examples -->
        <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>
        <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

        <!--Date picker-->
        <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

        <!--Max length-->
        <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

        <!--touch-->
        <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

        <!--Validaciones automaticas-->

        <!--Alertas intuitivas-->
        <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
        <script>
            function get(url, datos, err) {
                $.get(url, (data) => {
                    datos(data);
                })
                    .catch(error => err(error));
            }

            function post(url, datos, retorno, error) {
                $.post(url, datos, (data) => {
                    retorno(data);
                }).catch(err => {
                    error(err);
                });
            }
        </script>
        @RenderSection("scripts", required: false)
        @*<script src="~/Scripts/app.js"></script>*@
    </body>
</html>