@model App_SpartansCustom_Rifas.Models.tbDepartamentos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbDepartamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.depto_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depto_CodigoDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_CodigoDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depto_EsActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_EsActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depto_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depto_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depto_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCiudades.ciud_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCiudades.ciud_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbPais.pais_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPais.pais_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreDeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_NombreDeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreDeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_NombreDeUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
