@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CONTENEDOR PRINCIPAL -->
<div class="container-fluid">
    <!-- FILA CONTENEDORA DEL DATATABLE -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-success m-b-10 waves-effect" id="Crear_Rangos">Nuevo</button>
                    </div>
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap datatable-Initial" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    Número
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                Acciones
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Número</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Crear-->
    @Html.Partial("Crear", new App_SpartansCustom_Rifas.Models.tbRangos())

    <!--Modal Confirmacion Crear-->
    @Html.Partial("ConfirmacionCrear")

    <!--Modal Editar-->
    @Html.Partial("Editar", new App_SpartansCustom_Rifas.Models.tbRangos())

    <!--Modal Confirmacion Editar-->
    @Html.Partial("ConfirmacionEditar")

    <!--Modal Detalles-->
    @Html.Partial("Detalles")

    <!--Modal Detalles-->
    @Html.Partial("Inactivar")

    <!--Modal Detalles-->
    @Html.Partial("Activar")


</div>

@section Styles {
}



@section Scripts {
       <script src="~/Scripts/app/Genericos.js"></script>
       <script src="~/Scripts/app/personas/rangos.js"></script>
}


