﻿@model IEnumerable<App_SpartansCustom_Rifas.Models.tbRangos>
@using App_SpartansCustom_Rifas.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CONTENEDOR PRINCIPAL -->
<div class="container-fluid">
    <!-- FILA CONTENEDORA DEL DATATABLE -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div class="text-right">
                        <button type="button" class="btn btn-success m-b-10 waves-effect" id="Crear_Rangos">Nuevo</button>
                    </div>
                    <table id="datatables" class="table table-striped table-bordered dt-responsive nowrap datatable-Initial" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.rang_Id)
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rang_Estado)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyRangos">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.rang_Id</td>
                                    <td>@item.rang_Descripcion</td>
                                    <td>@(item.rang_Estado ? "Activo" : "Inactivo")</td>
                                    <td>
                                        <button type="button" id="btnEditar" data-id="@item.rang_Id" class="btn btn-primary waves-effect waves-light">Editar</button>
                                        <button type="button" id="btnDetalles" data-id="@item.rang_Id" class="btn btn-secondary waves-effect">Detalles</button>

                                        @if (item.rang_Estado)
                                        {
                                            <button type="button" id="btnEliminar" data-id="@item.rang_Id" class="btn btn-danger waves-effect waves-light">Eliminar</button>
                                            <button type="button" id="btnActivar" data-id="@item.rang_Id" class="btn btn-success waves-effect waves-light">Activar</button>
                                        }
                                        else
                                        {
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Número</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Crear-->
    @Html.Partial("Crear", new App_SpartansCustom_Rifas.Models.tbRangos())

    <!--Modal Confirmacion Crear-->
    @Html.Partial("ConfirmacionCrear")

    <!--Modal Editar-->
    @Html.Partial("Editar", new App_SpartansCustom_Rifas.Models.tbRangos())

    <!--Modal Confirmacion Editar-->
    @Html.Partial("ConfirmacionEditar")

    <!--Modal Detalles-->
    @Html.Partial("Detalles")

    <!--Modal Detalles-->
    @Html.Partial("Inactivar")

    <!--Modal Detalles-->
    @Html.Partial("Activar")


</div>

@section Styles {
}



@section Scripts {

    <!--#region Seccion donde se dibujara el t4 del script-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();

            //#region Instancias
            var table = $('#datatables').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis'],
                language: { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
            });

            table.buttons().container()
                .appendTo('#datatables_wrapper .col-md-6:eq(0)');

            // Select2
            $(".select2").select2(
                {
                    dropdownParent: $('#formEditar'),
                    placeholder: 'Seleccione un empleado',
                    language: {
                        noResults: function () {
                            return 'Resultados no encontrados.';
                        },
                        searching: function () {
                            return 'Buscando...';
                        }
                    }
                }
            );
            $("input[name='demo0']").TouchSpin({
                buttondown_class: 'btn btn-primary',
                buttonup_class: 'btn btn-primary'
            });

            jQuery('.datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });

        //Hacer que no recargue la pagina
        $('#btnGuardar').submit(e => e.preventDefault());

        //#endregion

        //#region Abrir Modales
        //#region Editar
        $('#datatables tbody tr td #btnEditar').click(function () {
            //$('#ModalEditar #rang_Descripcion').val(this.parentElement.pa)

            let ID = $(this).data('id');

            $.get('/Rangos/Edit/' + ID, (data) => {
                $('#ModalEditar #rang_Descripcion').val(data);
                $('#ModalEditar #rang_Id').val(ID);
            })

            console.log($(this).data('id'));
            $('#ModalEditar').modal();
        });
        //#endregion

        //#region Detalles
        $('#datatables tbody tr td #btnDetalles').click(function () {

            let ID = $(this).data('id');
            $.get('/Rangos/Details/' + ID, (data) => {

                console.log(data);
                //$('#ModalEditar #rang_Descripcion').val(data);
                //$('#ModalEditar #rang_Id').val(ID);
            });
            $('#modalDetalles').modal();
        });
        //#endregion

        //#region Activar
        $('#datatables tbody tr td #btnActivar').click(function () {
            $('#Modalhabilitar').modal();
        });
        //#endregion

        //#region Eliminar
        $('#datatables tbody tr td #btnEliminar').click(function () {
            $('#ModalInhabilitar').modal();
        });
        //#endregion

        //#region Crear
        $('#Crear_Rangos').click(function () {
            $('#ModalCrear').modal();
        });
        //#endregion
        //#endregion

        //#region Click
        $('#btnCrear').click(function (e) {
            //console.log(e);
            //var array = $('#frmCrearRangos').serializeArray();

            ////if (array.find(x => x.name == 'rang_Descripcion').value == "") {
            ////    console.log('No supero la valiacion')
            ////    $('#frmCrearRangos #rang_Descripcion').addClass('parsley-error');
            ////    $('#frmCrearRangos #requerido').show();
            ////}


            //console.log(array);

        })
                //#endregion
    </script>

}


